:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --color-1: rgb(206, 50, 50);
  --color-2: rgb(161, 79, 46);
  --color-3: rgb(117, 108, 43);
  --color-4: rgb(72, 137, 35);
  --color-5: rgb(27, 165, 27); */

  /* 1. Red */
  --red: rgb(206, 50, 50);

  /* 2. Reddish-Orange */
  --red-orange: rgb(255, 85, 0);

  /* 3. Orange */
  --orange: rgb(236, 187, 10);

  /* 4. Yellow-Green */
  --yellow-green: rgb(161, 235, 15);

  /* 5. Green */
  --green: rgb(7, 210, 7);
}

html {
  touch-action: manipulation;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

#result {
  font-size: 36px;
  font-family: monospace, sans-serif;
  margin-bottom: 18px;
}

.usn,
.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}

.button-group button {
  margin: 0 0.5em;
}

.password-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 300px;
}

#strength-result {
  min-height: 24px;
}

.strength-bar-wrapper {
  height: 8px;
  width: 100%;
  position: relative;
}

.strength-bar {
  background-color: red;
  width: 0;
  height: 100%;
  transition: background-color 0.25s ease-out;
}

.strength-bar.p0 {
  background-color: var(--red);
}
.strength-bar.p20 {
  background-color: var(--red-orange);
}
.strength-bar.p40 {
  background-color: var(--orange);
}
.strength-bar.p60 {
  background-color: var(--yellow-green);
}
.strength-bar.p80 {
  background-color: var(--green);
}

#test-password {
  font-size: 24px;
  padding: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

canvas {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
}
