/* select boxes */
@import url(_root.css);
@import url(_select.css);
@import url(_range.css);

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  touch-action: manipulation;
}

/* Prevent horizontal scrolling */
html,
body {
  /* overflow-x: hidden; */
  touch-action: pan-y; /* Prevent side-scrolling on touch devices */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.3em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
}

.usn,
.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.button-group button {
  margin: 0 0.5em;
}

.tab-group {
  margin-top: 2em;
  margin-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.tab-group button {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.tab-group button.active {
  background-color: var(--active-tab-color);
  transform: scale(1.2);
  transform-origin: bottom;
}

.tab-group button:focus,
.tab-group button:focus-visible {
  outline: none;
}

.password-wrapper {
  position: relative;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 360px;
}

#strength-result {
  min-height: 24px;
  margin-bottom: 2em;
}

.strength-bar-wrapper {
  height: 8px;
  width: 100%;
  position: relative;
}

.strength-bar {
  background-color: red;
  width: 0;
  height: 100%;
  transition: background-color 0.25s ease-out;
}

.strength-bar.p0 {
  background-color: var(--red);
}
.strength-bar.p20 {
  background-color: var(--red-orange);
}
.strength-bar.p40 {
  background-color: var(--orange);
}
.strength-bar.p60 {
  background-color: var(--yellow-green);
}
.strength-bar.p80 {
  background-color: var(--green);
}

#result {
  font-size: 18px;
  padding: 0.5em;
  font-family: monospace, sans-serif;
  border-bottom: 1px solid var(--color1);
}

@media (prefers-color-scheme: light) {
  :root {
    --color1: #213547;

    color: #213547;
    background-color: #f1f1f1;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: hsl(208, 37%, 80%);
  }
}

canvas {
  width: 100%;
  height: auto;
  display: block;
  image-rendering: pixelated;
}

.error {
  color: var(--error-color);
}

.small {
  font-size: 14px;
}

.heading {
  font-style: italic;
}

input {
  font-size: 18px;
  padding: 0.5em;
}
